<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://growthatkyte.github.io/web/global.css">
  </head>
  <body>
    <!--START OF POPUP-->
    <div class="basic-callout" id="basic-callout-01">
      <div class="content-modal">
        <form class="basic-callout-form form-control" action="https://track.bentonow.com/forms/d8c8b9b32a34503c3517dd960a385649/$popupLinkRequestEN" method="POST" enctype="multipart/form-data">
          <div class="basic-callout-header">
            <h3>Um convite para crescer!</h3>
            <p>Nós estamos super comprometidos com seu sucesso e queremos temos um plano para o seu 2023</p>
            <img class="basic-callout-img" alt="some placeholder" src="https://gcdnb.pbrd.co/images/HcVk2XQGnLQm.png">
          </div>
          <input class="basic-form-field form-field-email" type="email" name="email" placeholder="bordain@partsunknown.com">
          <!--START OF THE ATTRIBUTION FIELDS-->
          <!--These are the id fields-->
          <input class="basic-form-field form-field-kid" type="hidden" name="kid">
          <input class="basic-form-field" type="hidden" name="cid">
          <!--Google Analytics general user identification-->
          <input class="basic-form-field form-field-aid" type="hidden" name="aid">
          <!--Our own user identification-->
          <!-- The following are the traffic attribution fields-->
          <input class="basic-form-field form-field-utm_source" type="hidden" name="utm_source" value="crm">
          <!--Origin i.e. google, facebook, etc.-->
          <input class="basic-form-field form-field-utm_medium" type="hidden" name="utm_medium" value="popup">
          <!--Medium i.e. cpc, email, social etc.-->
          <input class="basic-form-field form-field-utm_campaign" type="hidden" name="utm_campaign" value="webLinkRequest">
          <!--Campaign i.e. Black Friday etc.-->
          <input class="basic-form-field form-field_referrer" type="hidden" name="referrer">
          <!--who come to your domain from other sites-->
          <!--END OF THE ATTRIBUTION FIELDS-->
          <button class="basic-form-button" type="submit">Receber detalhes</button>
          <!--IF YOU WANT TO CALL A SPECIFIC ACTION, USE THE FOLLOWING
          <button class="basic-form-button" onclick="bento.showChat()">Receber detalhes</button>-->
        </form>
        <div class="basic-callout-message">
          <h4>Agora é com a gente 🎉.</h4>
          <p>Enviaremos todas as informações para o seu email. PS: Você pode fechar essa janela.</p>
        </div>
        <div>
          <span onclick="document.getElementById('basic-callout-01').style.display='none'" class="basic-callout-close">❌</span>
        </div>
      </div>
    </div>
  </body>
</html>
